.form {
  width: 320px;
}

.name {
  color: whitesmoke;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 16px;
}
.button {
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 4px;
  border-color: black;
  padding: 8px 12px;
  color: #596273;
}

.button:hover,
.button:focus {
  color: #36a130;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
