.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: whitesmoke;
}

.link.active {
  color: #e6ec47;
}

.button {
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 4px;
  border-color: black;
  padding: 8px 12px;
  color: #bab5b5;
}

.button:hover,
.button:focus {
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
