.link {
  display: inline-block;
  margin: 0 10px;
  color: whitesmoke;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
  color: #f0cb12;
}
