.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  margin-right: 10px;
  font-weight: 700;
}

button {
  padding: 5px 10px;
  background-color: white;
  color: #282c34;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}
